*{
	box-sizing: border-box;
}

p{
	margin: 0;
}

html, body { 
    margin: 0;
padding: 0;
}
a {
    outline: none;
    cursor: pointer;
    }
a img {
    border: none;
    cursor: pointer;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{text-decoration: none;}
*:focus, *:active { outline: none; }